.App {
  font-family: sans-serif;
  text-align: center;
}

.game-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.game-players {
  max-width: 30%;
  flex: 1;
}

.game-center {
  max-width: 40%;
  flex: 2;
}
